<div>
    <h2 class="pt-8 pb-4 font-sans text-3xl font-bold upper text-slate-600">Meet Stefan Romero&mdash;Project Director</h2>
    <div>
        <img
            class="float-right pt-3 pl-10 h-72"
            src="/images/state-directors/stefan-romero.jpg"
            alt="Stefan Romero"
        />

        <p class="prose prose-2xl">
            With conservatory training in visual and theatrical arts, Stefan
            oversees the design of each state embroidery panel. Fascinated with
            the intersection between archival inquiry and sartorial
            significance, Stefan is committed to telling stories that can only
            be told through textile-based sources. His costume design work has
            been seen on stage and film. As a Fulbright Scholar at the
            University of Glasgow, Stefan studied Dress and Textiles where he
            assisted on an exhibition in the Borders Region of Scotland,
            traveled to London to work on a period film set, and examined
            diaries at the archives of the University of Georgia. Stefan is
            excited to see where his work takes him next.
        </p>
        <p class="pt-5 italic prose prose-2xl">
            For more information, please visit his website:
            <a href="http://sromerodesign.com">sromerodesign.com</a>
        </p>
    </div>
</div>
