{{ define "main" }}
<div class="px-14 pt-20 pb-40">
    <h1 class="text-4xl font-bold pb-8">{{ .Title }}</h1>

    <div class="prose prose-2xl pb-8">{{ .Content }}</div>

    {{ partial "team/stefan" }}

    <h2 class="text-2xl font-bold pt-10">Our Collaborators</h2>
    <ul>
        {{ range sort .Site.Data.collaborators "name" }}

        <li>
            <a href="{{ urlize .name }}" class="text-2xl text-blue-800"
                >{{ .name }} <span aria-hidden="true">→</span></a
            >
        </li>

        {{ end }}
    </ul>

    <h2 class="text-2xl font-bold pt-10">Our stitchers</h2>
    <ul>
        {{ range sort .Site.Data.sewing_groups "name" }}

        <li>
            <a href="{{ urlize .name }}" class="text-2xl text-blue-800"
                >{{ .name }}, {{ .state }} <span aria-hidden="true">→</span></a
            >
        </li>

        {{ end }}
    </ul>
</div>

{{ end }}
