{{ define "main" }} 
{{ $sponsors := where .Site.RegularPages "Section" "sponsors" }}

{{ partial "page-header.html" . }}

<div class="container pt-24 mx-auto">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3">

    {{ range $index, $sponsor := $sponsors }}
    
      {{ if ne $index 0 }}
      <div class="my-8 border-t border-gray-300 col-span-full"></div>
      {{ end }}

      <div class="flex flex-col md:col-span-1" id="{{ .Params.id }}">
        {{ with .Params.logo }}
        <img src="{{ . }}" alt="Description" class="object-cover h-auto w-96">
        {{ end }}
      </div>
      
      <div class="flex flex-col justify-start md:col-span-2">
        <h2 class="mb-4 text-3xl font-bold">Meet {{ .Title }} &mdash; {{ .Params.role}}</h2>
        <div class="text-2xl prose">
          {{ .Content }}
        </div>
      </div>

    {{ end }}

  </div>
</div>


{{ end }}