{{ $style := resources.Get "css/output.css" }}

<!doctype html>
<html class="font-serif">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Page.Title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ $style.RelPermalink | relURL }}">
    </head>

    <body class="flex flex-col min-h-screen">
        <header class="relative inset-x-0 top-0 z-50">
            {{ partial "navbar.html" . }}
        </header>
        
        <main class="flex-grow">
        {{ block "main" . }} {{ end }} 
        </main>
        
        {{ partial "footer.html" . }}
        
        {{ $mobileMenu := resources.Get "js/mobileMenu.js" | minify | fingerprint }}
        <script src="{{ $mobileMenu.RelPermalink }}" integrity="{{ $mobileMenu.Data.Integrity }}"></script>

        <!-- MailerLite Universal -->
        <script>
            (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
            .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
            n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
            (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
            ml('account', '1264539');
        </script>
        <!-- End MailerLite Universal -->
    </body>
</html>
