{{ $style := resources.Get "css/main.css" }}

<!doctype html>
<html lang="en" class="font-serif scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Page.Title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ $style.RelPermalink | relURL }}">
    </head>

    <body class="flex flex-col min-h-screen {{ .Params.background_color | default "bg-white" }}">

        <header class="fixed inset-x-0 top-0 z-50">
            {{ partial "navbar.html" . }}
        </header>
        
        <main class="flex-grow w-full">
            {{ partial "breadcrumbs.html" . }}
            
            <div class="page-container">
                {{ block "main" . }} {{ end }} 
            </div>
        </main>
        
        <footer class="w-full bg-gray-900">
            {{ partial "footer.html" . }}
        </footer>
        
        {{ $mobileMenu := resources.Get "js/mobileMenu.js" | minify | fingerprint }}
        <script src="{{ $mobileMenu.RelPermalink }}" integrity="{{ $mobileMenu.Data.Integrity }}"></script>
        
        {{ partial "mailerlite.html" .}}
        {{ partial "matomo.html" .}}

    </body>
</html>
