<div class="relative flex bg-gray-800 px-14 pt-20 pb-36">
    <div class="shrink-0">
        <img
            class="size-72 drop-shadow-lg"
            src="/images/soldier.png"
            alt="A soldier"
        />
    </div>

    <div class="text-white">
        <div class="text-6xl font-bold pb-8 drop-shadow-md">
            Telling our nation's story
        </div>
        <p class="text-4xl">
            On the eve of America's 250th Anniversary,
            <span class="italic">America's Tapestry</span> tells an inclusive
            story of individuals from our nation's past. Composed of thirteen
            embroidered panels, this modern interpretation of the Bayeux
            Tapestry visually narrates unique, untold stories from America’s
            thirteen colonies of many who committed acts of bravery in pursuit
            of liberty.
        </p>
    </div>
</div>
