<div class="relative flex px-14 pt-20 pb-36">
    <div class="text-black">
        <div class="text-6xl font-bold pb-8 drop-shadow-md">
            A collaborative journey...
        </div>
        <p class="text-4xl">
            The panels are designed by the
            <span class="italic">America's Tapestry</span> creative team in
            collaboration with historical organizations from each of the
            original thirteen colonies. Needleworkers within each state are
            completing the embroidery between 2025 and 2026. The completed
            tapestries will be displayed in beautiful gallery spaces in 2026.
        </p>
    </div>

    <div class="shrink-0 drop-shadow-lg">
        <img class="size-72" src="/images/cannon-woman.png" alt="A soldier" />
    </div>
</div>
