<div class="relative flex bg-gray-800 px-14 pt-20 pb-36">
    <div class="shrink-0 w-72 pt-6">
        <img class="size-60" src="/images/colonies.png" alt="A soldier" />
    </div>

    <div class="text-white">
        <div class="text-6xl font-bold pb-8">...and a creative partnership</div>
        <p class="text-4xl">
            <span class="italic">America's Tapestry</span> is commited to
            fostering inclusive, collaborative partnerships throughout the 13
            states. Historical organizations and cultural centres from New
            Hampshire to Georgia are developing themes and imagery for each
            panel. The panels are being stitched at heritage centres from 2025
            to 2026, allowing audiences to visit and engage with this historic
            work and learn about the practice of needle art.
        </p>
    </div>
</div>
