<!-- layouts/partials/breadcrumbs.html -->
{{ $linkStyle := "text-gray-600 hover:text-gray-900 hover:underline"}}
{{ if .Params.background_color }}
  {{ $linkStyle = "text-gray-400 hover:text-gray-100 hover:underline"}}
{{ end }}

{{ if not .IsHome }}
<div class="container font-sans md:px-14 md:pt-8 ">
  <nav aria-label="Breadcrumb">
    <ol class="flex items-center space-x-1 text-sm text-gray-500">
      <li>
        <a href="{{ .Site.Home.RelPermalink }}" class="{{ $linkStyle }}">Home</a>
      </li>
      {{ $url := .RelPermalink }}
      {{ range $index, $element := split (trim $url "/") "/" }}
        {{ $currentUrl := (printf "/%s" (delimit (first (add $index 1) (split (trim $url "/") "/")) "/")) }}
        <li class="flex items-center">
          <svg class="w-3 h-3 mx-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
          {{ if ne $currentUrl $url }}
            <a href="{{ $currentUrl }}" class="{{ $linkStyle }}">{{ humanize . }}</a>
          {{ else }}
            <span class="text-gray-500">{{ humanize . }}</span>
          {{ end }}
        </li>
      {{ end }}
    </ol>
  </nav>
</div>
{{ end }}
