<footer class="w-full bg-gray-900">
    <div class="pl-4">
        <div class="flex justify-end pt-4">
            <div class="text-right">
                <div class="ml-embedded" data-form="djiCqg"></div>
            </div>
        </div>
        
        <div class="flex items-center justify-between pb-8 pr-6">
            <div class="font-sans text-gray-200">
                &copy; 2025 America's Tapestry. All rights reserved.
            </div>

            <a class="font-sans text-white hover:underline" href="/privacy">Privacy Policy</a>
            
            {{ partial "socials.html" . }}
        </div>
    </div>
</footer>