<div class="px-16">
    <div class="flex justify-start pt-4">
        <p class="text-white">Sign up for our newsletter</p>
        <div class="text-left">
            <div class="ml-embedded" data-form="djiCqg"></div>
        </div>
    </div>
    
    <div class="flex items-center justify-between pb-8 pr-6">
        <div class="font-sans text-gray-200">
            &copy; 2025 America's Tapestry. All rights reserved.
        </div>

        <a class="font-sans text-white hover:underline" href="/privacy">Privacy Policy</a>
        
        {{ partial "socials.html" . }}
    </div>
</div>
