<section class="container pt-20 mx-auto px-14">
    <div class="pb-8 text-6xl font-bold drop-shadow-md">
        From the blog...
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      {{ range first 3 (where .Site.RegularPages "Type" "blog") }}
        <article class="overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
          <div class="p-6">
            <h2 class="mb-2 font-sans text-xl font-semibold">
              <a href="{{ .Permalink }}" class="text-blue-600 dark:text-blue-400 hover:underline">{{ .Title }}</a>
            </h2>
            <p class="mb-4 text-sm text-gray-600 dark:text-gray-300">{{ .Date.Format "January 2, 2006" }}</p>
            <p class="text-gray-700 dark:text-gray-200">{{ .Summary }}</p>
          </div>
        </article>
      {{ end }}
    </div>
  </section>