<section class="py-12">
    <div class="px-12 text-4xl">
        <strong>Want to learn more?</strong> Meet <a class="hyperlink" href="/team">our team</a> and <a class="hyperlink" href="/sponsors">our sponsors</a>,
        learn about <a class="hyperlink" href="/tapestries">our tapestries</a>, find out about our <a class="hyperlink" href="/exhibition">exhibition</a>, 
        and read <a class="hyperlink" href="/blog">our blog</a>. Any questions? <a class="hyperlink" href="/contact">Get in touch</a>&mdash;we'd love to hear from you.
    </div>
</section>