{{ define "main" }} 


<div class="page-container">
    {{ partial "page-header.html" . }}

    <div class="flex flex-col md:flex-row">

        <div class="flex-grow">
            <div class="text-2xl">Contact us at:</div> 
            <div class="text-2xl font-semibold text-blue-600">americastapestry@gmail.com</div>
        </div>

        {{ partial "contact/subscribe-form.html" . }}
    
        <img
            class="object-cover w-full h-full mt-8 md:w-72 md:h-72 drop-shadow-lg"
            src="/images/contact/letter.png"
            alt="post bag"
            />
        
    </div>
</div>

{{ end }}