{{ define "main" }} 
{{ $directors := .Site.GetPage "section" "team/state-directors" }}

{{ partial "page-header.html" . }}

{{ range $directors.Pages }}

<div id="{{ .Params.id }}">
    <h2>Meet {{ .Params.informal }}</h2>
    <div class="pt-2 pb-6 text-3xl italic text-slate-500">{{ .Params.state }}</div>

    <div class="pb-20">
        <img
            class="w-full mb-4 rounded-lg shadow-md md:w-1/3 md:float-left md:mt-3 md:mr-8"
            src="{{ .Params.picture}} "
            alt="{{ .Title }}"
        />

        <div class="prose prose-2xl">
            {{ .Content }}
        </div>
    </div>
</div>


{{ end }}

{{ end}}